{% extends 'core/bin.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators" style="padding-right: 650px">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'core/img/imgbook1.jpg' %}" class="d-block w-50" alt="если вы не видите">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/imgbook2.jpg' %}" class="d-block w-50" alt="мне вас жаль,обратитесь в тех.поддержку">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/imgbook3.jpg' %}" class="d-block w-50" alt="прекрасные книги">
            </div>
        </div>
        <button class="carousel-control-prev" style = "padding-right: 90px" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="padding-right: 81px; margin-right: 560px" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

{% endblock %}