{% extends 'core/bin.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

    <center><h4>Это лучшие книги по мнению нашей команды</h4></center>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/book1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Liz❤️‍🔥chka</h5>
                    <p class="card-text">Данная книга о том, как жизнерадостная девушка встретила клоуна. Жанр: хоррор.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/book2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maxim</h5>
                    <p class="card-text">Он был обычным работником "Магнита", пока в его жизни... Жанр: боевик</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/book3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">German</h5>
                    <p class="card-text">Он думал, что жизнь это трагедия, а оказалось романтика. Жанр: романтика.</p>
                </div>
            </div>
        </div>
    </div>

    <center><h4>Это лучшие авторы по мнению нашей команды</h4></center>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/author1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Deniska</h5>
                    <p class="card-text">Автор Deniska автор мировых хитов с большим именем в мировой индустрии.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/author2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vladik</h5>
                    <p class="card-text">Биография этого автора загадочна и туманна, как и его детективы.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'core/img/author3.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pushkin</h5>
                    <p class="card-text">Умер в перестрелке.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
